# General 
.DS_Store
*.log
*.env
*.local

# IDE Settings 
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Root
package-lock.json

# Node (Frontend) 
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/package-lock.json
frontend/yarn.lock
frontend/pnpm-lock.yaml

# Java (Backend) 
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.apt_generated/
backend/.factorypath/
backend/.sts4-cache/
backend/.mvn/wrapper/maven-wrapper.jar

# Firebase Secrets 
backend/src/main/resources/firebase/serviceAccountKey.json

# Build Folders (any leftover) 
build/
nbbuild/
dist/
nbdist/
backend/nbproject/private/
backend/.nb-gradle/
